<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key ="Handler" value ="C:\checkEx1\source1;C:\checkEx1\source2;C:\checkEx1\source3;C:\checkEx1\source4;C:\checkEx1\source5;C:\checkEx1\source6;C:\checkEx1\source7"/>
    <add key ="OutputDir" value="C:\checkEx1\outputDir"/>
    <add key ="SourceName" value="ImageServiceSource"/>
    <add key ="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize" value="120"/>
  </appSettings>
</configuration>