@{
    ViewBag.Title = "Config";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<button type="button" id="btnStart" style="margin:10px">Get Data</button>
<script>
    $("#btnStart").click(function () {
        document.getElementById("btnStart").disabled = true;
    });

</script>