@using ImageServiceWeb.Models

@model IEnumerable<ImageServiceWeb.Models.Log>


@{
    ViewBag.Title = "LogInfo";
}

<h2><font color="#a93865" font face="'Courier New'" style="border-bottom:dotted">Log</font></h2>


<table class="table">
    <tr>
        <th>
            <div>
                @using (Html.BeginForm("LogInfo", "LogInfo", FormMethod.Post))
                {
                    <label><font color="#693858">@Html.DisplayNameFor(model => model.Status)</font></label>
                    <input class="w3-input" type="text" name="filterType">
                    <input type="submit" value="Submit" class="btn">
                }</div> 
        </th>
        <th>
            <font color="#693858">@Html.DisplayNameFor(model => model.Message)</font>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
    }
</table>

